* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: rgba(185, 185, 185, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(50, 146, 137);
    border-radius: 100px;
    box-shadow: inset 0 0 5px #000;
}

body {
    background: url(img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form {
    background-color: rgba(54, 54, 54, 0.7);
    width: 30%;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 0px 20px #000;
    margin: 8% auto 0 auto;
    border-radius: 20px;
}

.login-form h2 {
    font-size: 50px;
    color: #bbb;
    text-shadow: 3px 3px 3px #000;
    margin-bottom: 30px;
}

.login-form input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    background: rgba(185, 185, 185, 0.1);
    border: solid 1px #000;
    color: #bbb;
    font-size: 20px;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
}

.login-form input:last-child {
    margin-top: 30px;
    background: url(img/background.svg);
    background-size: cover;
}

.login-form input:last-child:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.login-form input:last-child:active {
    cursor: pointer;
    border: inset 2px rgba(185, 185, 185, 0.1);
}

.login-form p {
    margin-top: 20px;
    color: #bbb;
}

.login-form p:last-child {
    margin-top: 60px;
}

.login-form a {
    color: rgb(50, 146, 137);
    margin-top: 20px;
    text-decoration: none;
}

.login-form a:hover {
    filter: brightness(0.9);
}

.dashboard-panel {
    min-width: 98vw;
    max-width: 98vw;
    min-height: 95vh;
    max-height: 95vh;
    margin: 2.5vh 1vw;
    background: rgba(54, 54, 54, 0.7);
    box-shadow: 0px 0px 20px #000;
    border-radius: 20px;
}

nav {
    width: 20%;
    height: 90vh;
    display: inline-block;
    padding: 40px 20px;
    border-radius: 20px 0 0 0;
    text-align: center;
    background: rgba(185, 185, 185, 0.2);
    float: left;
    margin-bottom: 0;
}

#user-icon {
    width: 150px;
    height: 150px;
    background: #bbb;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #000
}

.menu-info p {
    margin: 20px 0;
    font-size: 40px;
    color: #bbb;
    text-shadow: 2px 2px 3px #000;
}

.menu {
    display: block;
    width: 100%;
    padding: 20px 10px;
    text-decoration: none;
    color: #bbb;
    font-size: 22px;
    text-shadow: 2px 2px 3px #000;
    transition: all 0.2 ease-in-out;
    background: none;
    border: none;
}

.menu:hover {
    background: url(img/background.svg);
    background-size: cover;
    filter: brightness(0.8);
    cursor: pointer;
}

.menu:active {
    border: inset 2px rgba(185, 185, 185, 0.1);
}

.active {
    background: url(img/background.svg);
    background-size: cover;
}

main {
    width: 80%;
    height: 90vh;
    display: inline-block;
    margin-bottom: 0;
    padding: 30px 20px;
    scroll-behavior: auto;
}

main h2 {
    font-size: 40px;
    text-align: center;
    color: #bbb;
    text-shadow: 3px 3px 3px #000;
    margin-bottom: 20px;
}

.wrapper {
    width: 100%;
    background: rgba(185, 185, 185, 0.1);
    height: 78vh;
    overflow: auto;
    padding: 20px 10px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 0 5px #000;
}

.row {
    display: block;
}

.row input {
    width: 40%;
    height: 36px;
    padding: 6px 10px;
    background: rgba(185, 185, 185, 0.2);
    border: none;
    color: #ccc;
    font-size: 20px;
    border: 2px solid rgba(54, 54, 54, 0.7);
}

.row input::placeholder {
    color: #999;
}

.row-name {
    margin-right: 4px;
    margin-top: 4px;
}

.row-name:first-child {
    margin-right: 0;
}

.controls {
    margin-top: 16px;
}

.icon-plus {
    background: rgb(32, 180, 57);
    color: #ccc;
    text-shadow: 2px 2px 2px #000;
    font-size: 20px;
    border-radius: 10px;
    padding: 7px 5px;
}

.icon-minus {
    background: rgb(212, 37, 37);
    color: #ccc;
    text-shadow: 2px 2px 2px #000;
    font-size: 20px;
    border-radius: 10px;
    padding: 7px 5px;
}

.icon-plus:hover,
.icon-minus:hover {
    filter: brightness(0.8);
}

.icon-plus:active,
.icon-minus:active {
    border: inset 2px #000;
}

#save-rows {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    background: url(img/background.svg);
    background-position: center;
    background-size: cover;
    color: #ddd;
    text-shadow: 2px 2px 2px #000;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #000;
}

#save-rows:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

#save-rows:active {
    cursor: pointer;
    border: inset 2px rgba(185, 185, 185, 0.1);
}

.account-info {
    width: 100%;
    height: 5vh;
    background: rgba(185, 185, 185, 0.2);
    border-radius: 0 0 20px 20px;
    border-top: 1px solid #777;
    text-align: right;
    padding: 10px 24px;
    font-size: 18px;
}

.account-info span {
    color: #bbb;
    text-shadow: 2px 2px 2px #000;
}

.account-info #username {
    margin-left: 6px;
    color: #888;
}

#logout {
    background: url(img/background.svg);
    background-position: center;
    background-size: cover;
    border: 1px solid #000;
    padding: 6px 14px;
    margin-left: 14px;
    color: #bbb;
    text-shadow: 2px 2px 2px #000
}

#logout:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#logout:active {
    border: inset 2px rgba(185, 185, 185, 0.1);
}